.product
  background-color: #fff
  width: 700px
  margin: 0 auto
  padding: 4rem 8rem
  height: 100%

  &__header
    border-bottom: solid 1px #ccc
    margin: 0 0 30px 0
    padding:  0 0 30px 0

  &__title
    padding: 1rem 0
    font-size: 2rem
    font-weight: bold

  &__menu
    display: flex
    align-content: center
    justify-content: space-between
    align-items: center

  &__rating-value
    font-size: 1.5rem
    margin-right: .5rem
