.rate
  display: inline-block
  border: 0
  color: #e0dfe0

  .rate-icon
    float: right

  .rate-icon:before
    display: inline-block
    font-size: 1.5rem
    padding: 0rem 0.1rem
    margin: 0
    font-family: FontAwesome
    content: "\f005 "

  .filled
    color: #fecd6d

  .rate-icon
    line-height: 1

  .half:before
    content: "\f089 "
    position: absolute

  &--clickable
    input:checked ~ label,
    label:hover,
    label:hover ~ label
      color: #fdc147

    input:checked + label:hover,
    input:checked ~ label:hover,
    input:checked ~ label:hover ~ label,
    label:hover ~ input:checked ~ label
      color: #fecd6d

    label:before
      cursor: pointer

    /* Hide radio */
    input
      display: none
