<article class="product">
  <%= turbo_stream_from @product, :reviews %>
  <header class="product__header">
    <h1 class="product__title"><%= @product.name %></h1>
    <div class="product__menu">
      <%= render("reviews/avg_rating", rating_avg: @product.average_rating) %>
      <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#newReviewModal"> Add review </button>
    </div>
  </header>

  <section>
    <h4> Reviews </h4>
    <div id="reviews-container">
      <%= render @product.reviews.order(created_at: :asc) %>
    </div>
  </section>

  <%= render('reviews/new_review_modal', product: @product, review: @review) %>
</article>
