<%= form_with(model: [product, review], id: "new_review_form", class: "review-form") do |f| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</p>
      <ul>
        <% review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-block">
    <%= f.label(:text, "Rating") %>
    <%= f.stars_rating_input_tag("rating", review.rating || 0) %>
  </div>

  <div class="form-block">
    <%= f.label(:text, "Review") %>
    <%= f.text_field(:text, placeholder: "Start typing...", class: "form-control input-text") %>
  </div>

  <%= f.submit("Submit review", class: "btn btn-outline-secondary btn-sm")%>
<% end %>
