<div class="modal fade" id="newReviewModal" tabindex="-1" aria-labelledby="newReviewModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h4 class="modal-title" id="newReviewModalLabel">What's your rating?</h4>
        <%= render("reviews/form", product: product, review: review) %>
      </div>
    </div>
  </div>
</div>
