<div class="review flexed-box">
  <%= stars_rating(review.rating) %>
  <div class="review__content">
    <span><b><%= format_rating(review.rating) %></b>,</span>
    <span class="review__text"><%= review.text %></span>
  </div>
</div>
